body{
    background-image: url("gambar/554.jpg");
}
a{
    color: azure;
    font-size: 20px;
    position: absolute;
    bottom: 10%;
    left: 5%;
}
a:hover{
    color: #4CAF50;
    font-size: 30px;
}
.skill {
    margin-bottom: 10px;
}

.skill-name {
    font-weight: bold;
}

.skill-bar {
    width: 100%;
    height: 20px;
    background-color: #ccc;
    position: relative;
}

.skill-progress {
    height: 100%;
    background-color: #4CAF50;
    text-align: right;
    line-height: 20px;
    color: white;
    padding-right: 5px;
}
span{
    color: azure;
}